html
{
 
 height: 100%;
 
 margin: 0;
  

}


body
{ background: linear-gradient(to bottom left, #ffffcc 0%, #ccccff 100%);
	width:100%
}




/* preloader animation */

.bar
{
 
 width: 6px;
 
 height: 60px;
 
 background: white;
  
display: inline-block;
  
transform-origin: bottom center;

  animation: loading 1.5s ease-in-out infinite;

}


.bar1
{
 
 animation-delay: 0.1s;

}


.bar2
{
 
 animation-delay: 0.2s;

}

.bar3
{
  
animation-delay: 0.3s;

}


.bar4
{
  
animation-delay: 0.4s;

}


.bar5
{
 
 animation-delay: 0.5s;

}


.bar6
{
  
animation-delay: 0.6s;

}


.bar7
{
 
 animation-delay: 0.7s;

}


.bar8
{
  
animation-delay: 0.8s;

}


@keyframes loading
 {

  0%{
   
 transform: scaleY(0.1);
  
  background: #fff;
  
}
 
 
50%{
   
 transform: scaleY(1);
 
   background: #2ecc71;
 
 }
 

 100%
{
   
 transform: scaleY(0.1);

    background: transparent;
 
 }

}


#bar{
  
color: white;
 
 background-repeat: no-repeat;

 /* background: linear-gradient(90deg,#000,#fff,#000); */

  animation: animate 6s linear infinite;

  background-size: 60%;
 
 webkit-background-clip:text;
 
 webkit-text-fill-color:transparent;
 
 font-size:6vh;
 
 margin-left:5vh;

  letter-spacing:3vh;

}


@keyframes animate 
{

  0%{

    background-position: -150%;
 
 }
 

 100%{


    background-position: 300%;
 
   }

}



/* Search box css */



.search-box

{
  
position:absolute;

  top:2vw;
 
 left:35vh;
  
transform:translate(00%,-50%);
 
 background:rgb(52, 52, 53);
 
 height:3vw;

  border-radius:10vw;
 
 padding:0vw;

}


.search-box:hover > .search-txt

{
 
 width:28vw;

  padding:0 1vw;

}


.search-box:hover > .search-btn

{
 
 background:transparent;
  
height:3vw;
 
 transition:0.5s;

}


.search-btn

{
  
color:#e84118;

  float:left;
 
 width:3.5vw;
 
 height:3.5vw;
  
border-radius:5vw;
 
 background:#2f3680;
  
display:flex;
  
justify-content:center;
 
 align-items:center;
 
 transition:0.4s;

}


.search-txt

{
  
border:none;

  background:none;

  outline:none;
 
 float:right;
 
 padding:0;
 
 color:white;
  
font-size:1.5vw;
  
transition:0.4s;

  line-height:3vw;
 
 width:0vh;

}

/* Create four equal columns that sits next to each other */
.col {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  display: flex;
}

.col img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .col {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

#bc:hover #overlay1 {
  bottom: 0;
  height: 100%;
}
#de:hover #overlay2 {
  bottom: 0;
  height: 100%;
}
#ef:hover #overlay3 {
  bottom: 0;
  height: 100%;
}
#overlay1 {
  margin-left: -6px;
  position: absolute;
  bottom: 100%;
  left: 4%;
  right: 4%;
  background-color: rgb(0,0,0,0.4);
  overflow: hidden;
  width: 115%;
  height:0;
  transition: .3s ease;
}
#overlay2 {
  margin-left: -6px;
  position: absolute;
  bottom: 100%;
  left: 4%;
  right: 4%;
  background-color: rgb(0,0,0,0.4);
  overflow: hidden;
  width: 115%;
  height:0;
  transition: .3s ease;
}
#overlay3 {
  margin-left: -6px;
  position: absolute;
  bottom: 100%;
  left: 4%;
  right: 4%;
  background-color: rgb(0,0,0,0.4);
  overflow: hidden;
  width: 110%;
  height:0;
  transition: .3s ease;
}
.text{
  margin-top: 300px;
  font-weight: bold;
  font-size: 30px;
   position: absolute;
     left:10%;
    
      font: normal 200% 'century gothic';

}